html, body{ 
    margin:0; 
    padding: 0;
    display:flex; 
    flex-direction:column; 
    font-family: 'Poppins', sans-serif;
    color: #212529;
    height: 100%;
}

#navbar-header{
    background-color: #B9E2E4;
}

.navbar-brand{
    font-family: 'Londrina Solid', cursive;
    font-size: 36px;
    color: #fff;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link-header{
    font-size: 18px;
    color: #fff;
}

.nav-link-header:hover{
    color: #0056b3;
}

.conteudo{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-menor{
    padding: 80px;
}

.sidebar-dashboard{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-user-pannel{
    margin: auto;
}

.btn-sidebar-dashboard{
    border: 1px solid var(--primary);
    width: 240px;
    padding: 16px;
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.titulo-dashboard{
    text-align: center;
    color: #007bff;
}

.bg-img-dashboard{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.titulo-meu-perfil{
    margin: 0;
}

.meu-perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-box-meu-perfil{
    margin: 0;
}

.img-produto{
    width: 100px;
}

.btn{
    margin-right: 10px;
    color: #212529;
}

.btn:hover{
    color: #fff;
}

.btn-crud{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btn-voltar{
    margin: 20px 0;
}

.btn-ver-produto{
    text-align: center;
}

.btn-searchbar{
    margin-left: 10px;
}

.btn-esqueceu-senha:hover{
    color: #0056b3;
}

.table{
    width: 100%;
    margin: 20px 0;
    color: #212529;
}

.titulo-pagina{
    color: #212529;
    text-align: center;
    margin: 0;
}

.status{
    margin: auto;
    width: 60%;
}

.form-group-without-margin{
    margin: 0;
}

.box-form-cadastrar-produto{
    border: 1px solid #212529;
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 20px;
}

.box-ver-produto{
    border: 1px solid #212529;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.img-ver-produto{
    width: 200px;
    margin: auto;
    display: block;
}

.p-without-margin{
    margin: 0;
}

.searchbar-products{
    text-align: end;
}

#searchbar-products-page{
    display: flex;
    justify-content: center;
    width: 400px;
    margin: 60px auto;
}

.search-page{
    width: 360px;
}

.msg-busca-empty{
    margin-top: 100px;
    margin-bottom: 160px;
}

.form-avaliar-usuario{
    padding: 50px 0;
}

footer{
    background-color: #87CCCF;
    text-align: center;
    font-size: 20px;
    color: #fff;
    padding: 30px 0;
}

.copyright-img{
    font-size: 10px;
    margin-bottom: 0;
}

.copyright-img-link{
    color: #fff;
}

#erros {
    display: none;
}

#erros p{
    margin: 0;
}

.alert-danger{
    margin-bottom: 0;
    margin-top: 20px;
}

.error{
    border: 2px solid #fcd3d3 !important;
}

@media(max-width:770px){
    .bg-img-dashboard{
        width: 300px;
    }
}